*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --info: #79e3f4;
    --text-color:#4D6D71;
    --second-text-color:#515152;
    --primary-text-color: #080808;
}

.container{
    height: 45vh;
    width: 100%;
    background-color: var(--info);
}
.shop-option{
    height: 200vh;
    width: 80%;
    margin: 20px auto;
    padding: 48px 15px;
    text-align: center;
    /* background-color: seagreen; */
    /* background-color: var(--white); */
    
}
.shop-option h1{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 35px;
    color: var(--second-text-color);
    margin: 0 0 48px;
}
.item-list{
    margin: 24px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.item{
    height: 450px;
    width: 260px;
    margin-top: 20px;
    padding: 16px;
    background-color:#f7f7f7;
    /* padding: 0 15px; */
   
}
.item img{
    height: 223px;
    width: 223px;
    padding: 16px;
}
.item .item-info{
    padding: 16px 0;

}
.item .item-info h4{
    text-transform: uppercase;
    color: #080808;
    font-size: 15px;
    letter-spacing: 1.5px;
    padding-bottom: 15px;
    border-bottom: 1px solid  rgba(77, 109, 113, 0.5);
    
}

.item .item-info .product-price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.product-price span{
    letter-spacing: 2px;
}
.product-price span del{
    color: var(--text-color);
    opacity: .5;
}
.product-price span strong{
    color: var(--red);
    font-weight: bold;
}

.item-info .rating{
    margin-top: 10px;

}
.rating i{
    font-size: 14px;
    color: var(--text-color);
}
.item .add-to-cart{
    margin: 10px 0;
    /* height: 30px; */
    text-align: center;
    padding: 6px;
    background-color: var(--info);
    border-radius: 3px;
}
.item .add-to-cart a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: var(--secondary-text-color);
}